body {
    background-color: #E9F0F5;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
}

.weather-card {
    background-color: #87A2FB;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.forecast-card {
    background-color: #c3c9e9;
    color: black;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin: 5px;
}

.forecast-card p {
    margin: 5px 5px;
}

.btn-block {
    margin-top: 10px;
}

h1 {
    color: #3a3a3a;
}

.btn-secondary {
    margin-top: 10px;
}

.bg-\[url\(\'\.\/images\/bg_image\.jpg\'\)\] {
    background-image: url('./images/bg_image.jpg');
}